//Breakpoints
$Desktop: 1440px;
$Laptop: 1024px;
$Tablet: 768px;
$MobileL: 576px;
$Mobile: 375px;

//Colors
$Red: hsl(1, 90%, 64%);
$Blue: hsl(219, 85%, 26%);

$White: hsl(0, 0%, 100%);
$Verylightgrayishblue: hsl(210, 60%, 98%);
$Lightgrayishblue1: hsl(211, 68%, 94%);
$Lightgrayishblue2: hsl(205, 33%, 90%);
$Grayishblue: hsl(219, 14%, 63%);
$Darkgrayishblue: hsl(219, 12%, 42%);
$Verydarkblue: hsl(224, 21%, 14%);


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  background: $Lightgrayishblue1;
}

.attribution {
  text-align: center;
  font-size: .75rem;
  color: $Grayishblue;

  @media (max-width: $Desktop) {
    padding: 2rem 1rem;
  }

  @media (min-width: $Laptop) {
    margin-top: -3rem;
  }

  a {
    color: $Darkgrayishblue;
  }
}

.container {
  max-width: $Desktop;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  //Nest Hub dimensions
  @media (max-width: $Laptop) and (max-height: $Laptop) {
    height: unset;
  }

  @media (max-width: 1280px) and (max-height: 800px) {
    height: 100%;
  }
}

.card {
  width: 100%;
  display: flex;
  place-content: center;
  margin: 0 auto;
  padding: 3rem 3rem;

  @media (max-width: $MobileL) {
    padding: 0;
    margin: 0;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    max-width: 50rem;
    background: $White;
    border-radius: 25px 25px 25px 25px;

    @media (max-width: $MobileL) {
      border-radius: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;

    @media (max-width: $MobileL) {
      flex-direction: column;
      gap: .5rem;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    font-weight: 800;
    gap: .5rem;

    @media (max-width: $Tablet) {
      font-size: 1.5rem;
    }
  }

  &__number {
    background-color: $Blue;
    padding: 5px 13px;
    border-radius: 9px;
    color: $White;
    font-size: 1.25rem;
  }

  &__mark {
    cursor: pointer;
    color: $Verydarkblue;
    transition: ease-in-out .1s;

    &:hover {
      color: $Blue;
    }
  }

  &__postsWrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 1.5rem;
  }

  &__post {
    display: flex;
    align-items: flex-start;
    border-radius: 25px 25px 25px 25px;
    padding: 1rem 1rem;

    &.-new {
      background-color: $Verylightgrayishblue;
    }
  }

  &__avatar {
    img {
      width: 60%;
    }
  }

  &__description {
    width: 100%;

    @media (max-width: $Tablet) {
      font-size: .938rem;
    }
  }

  &__userName {
    cursor: pointer;
    font-weight: 600;
    color: $Verydarkblue;
    transition: ease-in-out .1s;

    &:hover {
      color: $Blue;
    }
  }

  &__activity {
    cursor: pointer;
    font-weight: 600;
    color: $Darkgrayishblue;
    transition: ease-in-out .1s;

    @media (max-width: $Tablet) {
      font-size: .938rem;
    }

    &:hover {
      color: $Blue;
    }

    &.-blue {
      color: $Blue;
    }

    &.-noMarker {
      &:after {
        display: none;
      }
    }

    &.-newMarker {
      &:after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: $Red;
        border-radius: 100%;
        margin-left: .25rem;
      }
    }
  }

  &__time {
    color: $Grayishblue;
  }

  &__message {
    cursor: pointer;
    margin-top: 1rem;
    margin-right: 2rem;
    padding: 1rem;
    border: 1px solid $Lightgrayishblue2;
    border-radius: 5px;
    transition: ease-in-out .2s;

    &:hover {
      background-color: $Lightgrayishblue2;
    }
  }

  &__postImg {
    border: none;

    img {
      cursor: pointer;
      width: 60%;
      border: 2px solid transparent;
      transition: .2s;

      &:hover {
        border: 2px solid $Lightgrayishblue2;
        border-radius: 10px;
      }
    }
  }
}